!!! 5
%html
  %head
    %title= "Karaoke"
    %link{:rel => "stylesheet", :type => "text/css", :href => "/hisaishi-style.css?1"}
  %body
    %h1= "Enqueued #{song_title}!"
    %p= "Thanks, #{requester}, you've enqueued your song."