!!! 5
%html
	%head
		%title= "Could not add song to Karaoke Queue"
		= haml :_ios_meta
		%link{:rel => "stylesheet", :type => "text/css", :href => "/lib/jquery.mobile-1.1.0.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery-custom.css"}
		%script{:type => "text/javascript", :src  => "/lib/jquery-1.7.2.min.js"}
		%script{:type => "text/javascript", :src  => "/lib/jquery.mobile-1.1.0.js"}
	%body{:id => "hisaishi-song-list"}
		#home{"data-role" => "page"}
			%div{"data-role" => "header"}
				%h1= "Could not add song"
			%div{"data-role" => "content"}
				%p
					%em= song.title
					= " could not be added to the karaoke queue."
				%p= "The reason is that there is a five-minute limit between submissions."
				%p
					= "Your nickname, "
					%em= requester
					= ", last submitted a song #{diff} ago."
				%p= "If this is incorrect, ask the people at the help desk to add your song."
				%a{ :href=> "/search", "data-role" => "button" }= "Return to Search"
