!!! 5
%html
	%head
		%title= "Queue Info"
		= haml :_ios_meta
		%link{:rel => "stylesheet", :type => "text/css", :href => "//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery-custom.css"}
		%script{:type => "text/javascript", :src  => "//code.jquery.com/jquery-1.7.2.min.js"}
		%script{:type => "text/javascript", :src  => "/jquery-ui-1.8.19.custom/js/jquery-ui-1.8.19.custom.min.js"}
		%script{:type => "text/javascript", :src  => "//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.js"}
		%script{:type => "text/javascript", :src  => "/scripts/sortableList.js"}
	%body{:id => "hisaishi-queue-delete"}
		#home{"data-role" => "page"}
			%div{"data-role" => "header", "data-theme" => "e"}
				%h1= "#{q.requester} - #{song.title}"
			%div{"data-role" => "content", "data-theme" => "d"}
				%form{:action => "/queue-info-process", :method => "post", "data-ajax" => "false"}
					= csrf_tag
					%input{:type => "hidden", :name => "q_id", :id => "q_id", :value => q.id}
					- if q.play_state == :queued || q.play_state == :finished
						%button{:name => "action", :value => "now", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Play now"
						%button{:name => "action", :value => "next", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Play after current song"
						%button{:name => "action", :value => "last", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Move to last"
					- if q.play_state == :ready || q.play_state == :playing || q.play_state == :paused
						%button{:name => "action", :value => "stop", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Stop"
						%button{:name => "action", :value => "now", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Rewind"
						%button{:name => "action", :value => "play_next", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Next"
					- if q.play_state == :ready || q.play_state == :playing
						%button{:name => "action", :value => "pause", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Pause"
					- if q.play_state == :paused
						%button{:name => "action", :value => "unpause", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Unpause"
					- if q.play_state == :finished
						%button{:name => "action", :value => "prep", :type => "submit", "data-role" => "button", "data-theme" => "b"}= "Queue for playing"
					%a{:href => "/queue", "data-role" => "button", "data-rel" => "back"}= "Cancel"
