!!! 5
%html
	%head
		%title= "Karaoke Search"
		%link{:rel => "stylesheet", :type => "text/css", :href => "//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery-custom.css"}
		%script{:type => "text/javascript", :src  => "//code.jquery.com/jquery-1.7.2.min.js"}
		%script{:type => "text/javascript", :src  => "//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.js"}
		%script{:type => "text/javascript", :src  => "/lib/jquery.ui.touch-punch.min.js"}
	%body{:id => "hisaishi-song-list"}
		#home{"data-role" => "page", "data-add-back-btn" => "true"}
			%div{"data-role" => "header"}
				%h1= "Song Search"
				= haml :lock_button
			%div{"data-role" => "content"}
				%ul{"data-role" => "listview", :data_inset => "true", "data-filter" => "true"}
					- songs.each do |s|
						%li{:data_theme => "c"}
							%a{:href => "/add/#{s.id}", "data-transition" => "slide"}
								%h3= s.title
								%p{:class => "separated-descriptions"}
									- if !s.artist.nil?
										%em= s.artist
									- if !s.album.nil?
										%em= s.album
									- if !s.origin_title.nil?
										%em= s.origin_title
			= haml :menubar